html, body, p, * {
  font-family: 'Roboto', sans-serif;
}

.web-app {
  .start {
    .background {
      width: 100%;
      height: 100%;
      background: url('../assets/background.jpg') no-repeat center;
      background-size: cover;
      opacity: .67;
      position: absolute;
      filter: brightness(50%);
    }

    .content {
      padding: 12rem 0;
      z-index: 10;

      h2 {
        font-family: 'Roboto Light', sans-serif;
        font-weight: 100;
        font-size: 20pt;
        color: white;
      }

      input[type="text"] {
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
        box-shadow: none;
        width: 300px;
        color: white;
        margin-top: 30px;

        &::-webkit-input-placeholder {
          color: #C9C9C9;
          font-family: 'Robot Light', sans-serif;
          text-align: center;
        }
      }

      .search-button {
        background: #1DB954;
        color: white;
        border-radius: 20px;
        width: 153px;
        font-size: 12pt;
        font-family: 'Roboto Light', sans-serif;
        margin-top: 40px;
      }
    }
  }

  .invite {
    .header {
      background: linear-gradient(0deg, white 55%, #378B99 45%);
      width: 100%;
      height: 240px;
      padding: 20px 40px;
      border-bottom: 1px solid #B5B5B5;

      .top {
        .person {
          color: white;
          font-size: 24pt;
        }

        h5 {
          font-family: 'Roboto Light', sans-serif;
          font-weight: 100;
          font-size: 14pt;
          color: white;
          line-height: 1.7;
          margin-left: 40%;
        }
      }

      input[type="text"], input[type="text"]::-webkit-input-placeholder {
        color: #7D7D7D;
        border: none;
        font-family: 'Robot Light', sans-serif;
        font-weight: 100;
        padding: 20px 10px;
        font-size: 10pt;
      }

      input[type="text"] {
        background: white;
        margin-top: 60px;
        box-shadow: 2px 2px 60px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        height: 48px;
        max-width: 335px;
        min-width: 200px;
      }

      .place {
        margin: 30px 25px 40px 25px;
        font-size: 12pt;

        i {
          color: #2699FB;
          font-size: 26pt;
        }

        p {
          font-family: 'Roboto Light', sans-serif;
          font-weight: 100;
          color: #565656;
          font-size: 11pt;
          line-height: 2.2;
        }
      }
    }

    .content {
      padding: 30px 40px;

      ul {

        li {

          .img {
            border-radius: 100%;
            width: 50px;
            height: 50px;
            background-size: cover;
          }

          span {
            font-family: 'Roboto Light', sans-serif;
            font-weight: 100;
            color: #707070;
          }
        }
      }
    }
  }
}